{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ imatge }}" class="img-responsive">
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">{{ prova.titol }}</div>
                <div class="panel-body">La teva resposta '{{ prova.text }}' és: </div>
            </div>
           {%  if encert %}
               <div class="alert alert-success">CORRECTA</div>
           {%  else %}
               <div class="alert alert-danger">Incorrecta</div>
           {% endif %}
            </div>
            <div>
               <p><a href="{{ origen }}">Tornar a la prova</a></p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}